<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapperタグでMapperインターフェースと紐づける -->
<mapper namespace="com.example.app.mapper.TargetMapper">
	<resultMap type="com.example.app.entity.Target" id="TargetMap">
		<id column="ID" property="id" />
		<result column="USER_ID" property="userId" />
		<result column="TITLE" property="title" />
		<result column="DESCRIPTION" property="description" />
		<result column="PROGRESS" property="progress" />
		<result column="CREATED_AT" property="createdAt" />
		<result column="DELETED_AT" property="deletedAt" />
	</resultMap>

  <select  id="findDeletedAtIsNull" resultMap="TargetMap">
  SELECT * FROM TARGETS WHERE DELETED_AT IS NULL
  </select>
	<select  id="findById" resultMap="TargetMap">
  SELECT * FROM TARGETS WHERE ID = #{id}
  </select>
	<insert id="insert"  useGeneratedKeys="true" keyColumn="ID" keyProperty="id">
		INSERT INTO TARGETS (ID, USER_ID, TITLE, DESCRIPTION, PROGRESS, CREATED_AT) VALUES (TARGET_ID_SEQ.nextval, #{userId}, #{title}, #{description}, #{progress}, #{createdAt})
	</insert>
	<update id="update">
		UPDATE TARGETS SET TITLE = #{title}, DESCRIPTION = #{description}, PROGRESS = #{progress} WHERE ID = #{id}
	</update>
	<update id="delete">
		UPDATE TARGETS SET DELETED_AT = #{deletedAt} WHERE ID = #{id}
	</update>
</mapper>